<link href="css/dataTables.bootstrap4.min.css" rel="stylesheet" />    
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<table id="example" class="table table-bordered table-hover" style="width:100%">
    <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Activo</th>
                <th>Ver</th>
                <th>Mod.</th>
                <th>Borrar</th>
                <th>Habilitar</th>
                <th>Contraseña</th>
            </tr>
    </thead>
    <tbody>
            <tr>
            #foreach($reg in $xlistausu)
                    <td>${reg.idusu} </td>
                    <td>${reg.nombre} ${reg.apellido1} ${reg.apellido2}</td>
                    <td>
                        <a  href="#" onclick="open_roles_modal(${reg.idusu})" class="btn btn-primary"  >ROL</a>
                    </td>
                    <td align="center">
                        #if (${reg.activo}==true)
                            <img src="images/flechaazularriba.png" style="width: 30px; height: 30px;">
                        #else
                            <img src="images/arrowdown.png" style="width: 30px; height: 30px;">
                        #end
                    </td>
                    <td>
                    <a  href="javascript:void(0)" onclick="javascript:verAlu('${reg.idusu}','${reg.nombre}','${reg.apellido1}','${reg.apellido2}','${reg.activo}','${reg.cedula}','${reg.f_nac}','${reg.sexo}','${reg.telefono}','${reg.direccion}','${reg.foto}','${reg.login}')">VER</a>
                    </td>

                    <td aling="center"><a  href="javascript:void(0)" onclick="javascript:modificarAlu('${reg.idusu}','${reg.nombre}','${reg.apellido1}','${reg.apellido2}','${reg.activo}','${reg.cedula}','${reg.f_nac}','${reg.sexo}','${reg.telefono}','${reg.direccion}','${reg.foto}','${reg.login}')">M</a></td>  
                    <td>
                        #if (${reg.activo}==true)
                            <a  href="javascript:void(0)" data-href="delAlu.html?xidusu=${reg.idusu}" onclick="location_href(this);">B</a>
                        #else
                            B
                        #end
                    </td>
                    <td>
                        #if (${reg.activo}==false)
                                <a  href="javascript:void(0)" data-href="habAlu.html?xidusu=${reg.idusu}" onclick="location_href(this);">H</a>
                        #else
                            H
                        #end
                    </td>
                    <td>
                        #if (${reg.password}==${reg.cedula})
                            <a  href="javascript:void(0)" onclick="javascript:modificarDat('${reg.idusu}','${reg.login}','${reg.nombre}','${reg.apellido1}','${reg.apellido2}')">Default Password</a>
                        #else
                            <a  href="javascript:void(0)" onclick="javascript:modificarDat('${reg.idusu}','${reg.login}','${reg.nombre}','${reg.apellido1}','${reg.apellido2}')"> Password</a>
                        #end
                    </td>
                </tr>
            #end    
        </tbody>
        </table>
<!-- Ventanas Modales -->
<div class="panel-body">
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br><br><br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="myModalLabl"><font>A&ntilde;adir Usuario</font></h4>
                    <button type="button" class="close" data-dismiss="modal" ariaf-hidden="true">&times;</button>
                    
                </div>
                <!-- A&ntilde;adir-->
                <div class="modal-body">
                    <form class="form-horizontal" action="addusu.html" id="addAlumno">
                        <div class="form-group">
                            <label class="control-label col-xs-1"><font>Cedula</font></label>
                            <div class="col-xs-11">
                                <input type="text" class="form-control" placeholder="Ingrese CI Usuario..." name="xcedula">
                            </div>
                            <label class="control-label col-xs-1"><font>Nombre</font></label>
                            <div class="col-xs-11">
                                <input type="text" class="form-control" placeholder="Ingrese Nombre Usuario..." name="xnombre">
                            </div>
                            <label class="control-label col-xs-1"><font>Apellido Paterno</font></label>
                            <div class="col-xs-11">

                                <input type="text" class="form-control" placeholder="Ingrese Apellido Materno Usuario..." name="xapellido1">
                            </div>
                            <label class="control-label col-xs-1"><font>Apellido Materno</font></label>
                            <div class="col-xs-11">
                                <input type="text" class="form-control" placeholder="Ingrese Apellido Materno Usuario..." name="xapellido2">
                            </div>
                            <label class="control-label col-xs-1"><font>Sexo</font></label>
                            <div class="col-xs-11">
                               <font>Femenino</font> <input type="radio" name="xsexo" value="F">
                               <font>Masculino</font> <input type="radio" name="xsexo" value="M">
                            </div>
                            <label class="control-label col-xs-1"><font>Fecha de Nacimiento</font></label>
                            <div class="col-xs-11">
                                
                                <input type="text" class="form-control" placeholder="Ingrese Fecha de Nacimiento Usuario..." name="xf_nac">
                            </div>
                            <label class="control-label col-xs-1"><font>Telefono</font></label>
                            <div class="col-xs-11"> 
                                <input type="text" class="form-control" placeholder="Ingrese Telefono Usuario..." name="xtelefono">
                            </div>
                            <label class="control-label col-xs-1"><font>Direccion</font></label>
                            <div class="col-xs-11">
                                
                                <input type="text" class="form-control" placeholder="Ingrese Direccion Usuario..." name="xdireccion">
                            </div>
                            <label class="control-label col-xs-1"><font>Login</font></label>
                            <div class="col-xs-11">
                                <input type="text" class="form-control" placeholder="Ingrese Login Usuario..." name="xlogin">
                            </div>
                            <label class="control-label col-xs-1"><font>Foto</font></label>
                            <div class="col-xs-11">
                                <input type="text" class="form-control" placeholder="Ingrese su Foto..." name="xfoto">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="usuAddGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
<!-- Modificar Password -->
    <div class="modal fade" id="moddat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><font>Modificar Password</font></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="moddat.html" id="modDat">
                        <div class="form-group">
                            <div class="col-xs-9">
                                <input type="hidden"  name="d_xidusu" id="d_xidusu" >
                            </div>
                            <div class="col-xs-9">
                                <input type="hidden" name="d_xlogin" id="d_xlogin">
                            </div>
                            <label class="control-label col-xs-7"><font>Login</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" name="d_xlogin" id="d_xlogin_fake" value="${login}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Password</font></label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control" id="d_xpassword" name="d_xpassword" placeholder="Contrase&ntilde;a Nueva...">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="datModGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Modificar -->
    <div class="modal fade" id="mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><font>Modificar Usuario</font></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="modusu.html" id="modUsu">
                        <div class="form-group">
                            <div class="col-xs-9">
                                <input type="hidden"  name="m_xidusu" id="m_xidusu" >
                            </div>
                            <label class="control-label col-xs-7"><font>Cedula</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xcedula" placeholder="Ingrese CI Usuario..."  name="m_xcedula" value="${cedula}">
                            </div>
                            <label class="control-label col-xs-7"><font>Nombre</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xnombre" placeholder="Ingrese Nombre Usuario..." name="m_xnombre" value="${nombre}">
                            </div>
                            <label class="control-label col-xs-7"><font>Apellido Paterno</font></label>
                            <div class="col-xs-9">

                                <input type="text" class="form-control" id="m_xapellido1" placeholder="Ingrese Apellido Paterno Usuario..." name="m_xapellido1" value="${apellido1}">
                            </div>
                            <label class="control-label col-xs-7"><font>Apellido Materno</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xapellido2" placeholder="Ingrese Apellido Materno Usuario..." name="m_xapellido2" value="${apellido2}">
                            </div>
                            <label class="control-label col-xs-7"><font>Sexo</font></label>
                            <div class="col-xs-9">
                               <font>Femenino</font> <input type="radio" name="m_xsexo" value="F" id="m_xsexo" >
                                <font>Masculino</font><input type="radio" name="m_xsexo" value="M" id="m_xsexo"  >
                            </div>
                            <label class="control-label col-xs-7"><font>Fecha de Nacimiento</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="m_xf_nac" placeholder="Ingrese Fecha de Nacimiento Usuario..." name="m_xf_nac" value="${f_nac}">
                            </div>
                            <label class="control-label col-xs-7"><font>Telefono</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xtelefono" placeholder="Ingrese Telefono Usuario..."  name="m_xtelefono" value="${telefono}">
                            </div>
                            <label class="control-label col-xs-7"><font>Direccion</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xdireccion" placeholder="Ingrese Direccion Usuario..." name="m_xdireccion" value="${direccion}">
                            </div>
                            <label class="control-label col-xs-7"><font>Login</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xlogin" placeholder="Ingrese el Login del Usuario..." name="m_xlogin" value="${login}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="usuModGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Ver -->
    <div class="modal fade" id="ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><font>Ver Usuario</font></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="modusu.html" id="addAlumno">
                        <div class="form-group">
                            <div class="col-xs-9">
                                <input type="hidden"  name="idusu" id="v_xidusu" >
                            </div>
                            <label class="control-label col-xs-7"><font>Cedula</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="v_xcedula" placeholder="Ingrese CI Usuario..."  name="m_xcedula" value="${cedula}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Nombre</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="v_xnombre" placeholder="Ingrese Nombre Usuario..." name="m_xnombre" value="${nombre} " disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Apellido Paterno</font></label>
                            <div class="col-xs-9">

                                <input type="text" class="form-control" id="v_xapellido1" placeholder="Ingrese Apellido Paterno Usuario..." name="m_xapellido1" value="${apellido1}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Apellido Materno</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="v_xapellido2" placeholder="Ingrese Apellido Materno Usuario..." name="m_xapellido2" value="${apellido2}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Sexo</font></label>
                            <div class="col-xs-9">
                               <font>Femenino</font> <input type="radio" name="v_xsexo" value="F" id="m_xsexo" disabled="true">
                                <font>Masculino</font><input type="radio" name="v_xsexo" value="M" id="m_xsexo"  disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Fecha de Nacimiento</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="v_xf_nac" placeholder="Ingrese Fecha de Nacimiento Usuario..." name="m_xf_nac" value="${f_nac}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Telefono</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="v_xtelefono" placeholder="Ingrese Telefono Usuario..."  name="m_xtelefono" value="${telefono}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Direccion</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="v_xdireccion" placeholder="Ingrese Direccion Usuario..." name="m_xdireccion" value="${direccion}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Login</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="v_xlogin" placeholder="Ingrese el Login del Usuario..." name="m_xlogin" value="${login}" disabled="true">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   <!-- ROl -->
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="verRolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<script>

function open_roles_modal(idusu){
    $.ajax({
        type:"GET", // la variable type guarda el tipo de la peticion GET,POST,..
        url:"modalModificarRoles.html", //url guarda la ruta hacia donde se hace la peticion
        data:{idusu:idusu}, // data recive un objeto con la informacion que se enviara al servidor
        success:function(html){ //success es una funcion que se utiliza si el servidor retorna informacion
            document.getElementById('verRolModal').innerHTML=html
            $('#verRolModal').modal('show');
        },
        dataType: 'text' // El tipo de datos esperados del servidor. Valor predeterminado: Intelligent Guess (xml, json, script, text, html).
    })

}
/*
    idusu : id del usuario 
    idrol :  id del rol
    tipo : tipo de consulta [agregar,eliminar]
*/
function modificar_rol(idusu,idrol,tipo){
    console.log(idusu,idrol,tipo)
    $.ajax({
        type:"POST", // la variable type guarda el tipo de la peticion GET,POST,..
        url:"modalModificarRoles.html", //url guarda la ruta hacia donde se hace la peticion
        data:{
            idusu:idusu,
            idrol:idrol,
            tipo:tipo
        }, // data recive un objeto con la informacion que se enviara al servidor
        success:function(html){ //success es una funcion que se utiliza si el servidor retorna informacion
            document.getElementById('verRolModal').innerHTML=html
            //$('#verRolModal').modal('show');
        },
        dataType: 'text'
    })
    
}


function listarolesusu(xidusu,xnombre,xidrol){
    $('#m_xidusu').val(xidusu);
    $('#m_xidrol').val(xidrol);
    $('#m_xnombre').val(xnombre);
}

function modificarAlu(xidusu,xnombre,xapellido1,xapellido2,xactivo,xcedula,xf_nac,xsexo,xtelefono,xdireccion,xfoto,xlogin){
    $('#m_xidusu').val(xidusu);
    $('#m_xnombre').val(xnombre);
    $('#m_xapellido1').val(xapellido1);
    $('#m_xapellido2').val(xapellido2);
   // $('#m_xactivo').val(xactivo);
    $('#m_xcedula').val(xcedula);
    $('#m_xf_nac').val(xf_nac);
    $('#m_xsexo').val(xsexo);
    $('#m_xtelefono').val(xtelefono);
    $('#m_xdireccion').val(xdireccion);
    $('#m_xlogin').val(xlogin);
    $('#m_xfoto').val(xfoto);
    $('#mod').modal('show');
}
function verAlu(xidusu,xnombre,xapellido1,xapellido2,xactivo,xcedula,xf_nac,xsexo,xtelefono,xdireccion,xfoto,xlogin){
    $('#v_xidusu').val(xidusu);
    $('#v_xnombre').val(xnombre);
    $('#v_xapellido1').val(xapellido1);
    $('#v_xapellido2').val(xapellido2);
   // $('#v_xactivo').val(xactivo);
    $('#v_xcedula').val(xcedula);
    $('#v_xf_nac').val(xf_nac);
    $('#v_xsexo').val(xsexo);
    $('#v_xtelefono').val(xtelefono);
    $('#v_xdireccion').val(xdireccion);
    $('#v_xlogin').val(xlogin);
    //$('#v_xfoto').val(xfoto);
    $('#ver').modal('show');
}
function modificarDat(xidusu,xlogin,xpassword){
    $('#d_xidusu').val(xidusu);
    $('#d_xlogin').val(xlogin);
    $('#d_xlogin_fake').val(xlogin);
    //$('#d_xpassword').val(xpassword);
    $('#moddat').modal('show');
}

    $(document).ready(function () {
    $('#example').DataTable( {
            
        "dom": 'l<"toolbar">frtip',
        initComplete: function(){
        $("div.toolbar")
         .html('<div class="countainer" style="width: 50px; position: absolute; top: 52px; right: 22%;" ><button class="pull-right" data-toggle="modal" data-target="#add" style="font-size: 10px">A&ntilde;adir</button></div>');           
        },
         stateSave: true,
        "language": {
            "lengthMenu": "Usuarios _MENU_ por Pagina",
            "zeroRecords": "Nothing found - sorry",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(Buscado entre _MAX_ total de datos)",
            "search": "Buscar :",
            "paginate": {
            "first":      "Primer",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        }
        }
        } );
     $("#usuAddGuardar").click(function () {
            if (confirm('Seguro de Guardar el Usuario ?')){
                $("#addAlumno").submit();
                $("#add").modal('hide');
            }   
        });
        $("#usuModGuardar").click(function () {
            if (confirm('Seguro de Guardar el Usuario ?')){
                $("#modUsu").submit();
                $("#mod").modal('hide');
            }   
        });
        $("#datModGuardar").click(function () {
            if (confirm('Seguro de Realizar este cambio?')){
                $("#modDat").submit();
                $("#moddat").modal('hide');
            }   
        });
        $("#btn-guardar").click(function () {
            alert("Guardar Datos");
        });
        $("#btn-modificar").click(function () {
            alert("Modificar Datos");
        });
        let location_href=(evt)=>{
            if(evt.dataset.href)
                document.location.href=evt.dataset.href
        } 
    });

</script>
<style>
    font{
        color:black;
    }
</style>