
    <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet" />    
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/dataTables.bootstrap4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
 <table id="example" class="table table-bordered table-hover" style="width:100%">
        <thead>
                <tr>
                    <th>Nro</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Activo</th>
                    <th>Ver</th>
                    <th>Mod</th>
                    <th>Borrar</th>
                    <th>Habilitar</th>
                </tr>
        </thead>
        <tbody>
                <tr>
                #foreach($reg in $xlistaCarr)
                        <td>${reg.idcarr} </td>
                        <td>${reg.nombre}</td>
                        <td>${reg.direccion}</td>
                        <td>${reg.telefono}</td>
                        <td align="center">
                        #if (${reg.activo}==true)
                                <img src="images/arrowup.png" style="width: 30px; height: 30px;">
                            #else
                                <img src="images/arrowdown.png" style="width: 30px; height: 30px;">
                            #end
                        </td>
                        <td>
                        <a  href="javascript:void(0)" onclick="javascript:verAlu('${reg.idcarr}','${reg.nombre}','${reg.direccion}','${reg.telefono}')">VER</a>
                        </td>
                        <td aling="center">
                        <a  href="javascript:void(0)" onclick="javascript:modificarAlu('${reg.idcarr}','${reg.nombre}','${reg.direccion}','${reg.telefono}')">M</a>
                        </td>  
                        <td>
                        #if (${reg.activo}==true)
                                <a  href="javascript:void(0)" data-href="delCarr.html?xidcarr=${reg.idcarr}" onclick="location_href(this);">B</a>
                            #else
                                B
                            #end
                        </td>
                        <td>
                        #if (${reg.activo}==false)
                                <a  href="javascript:void(0)" data-href="habCarr.html?xidcarr=${reg.idcarr}" onclick="location_href(this);">H</a>
                        #else
                                H
                            #end
                        </td>
                    </tr>
                #end    
            </tbody>
            </table>
<!-- Ventanas Modales -->
<div class="panel-body">
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <br><br><br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="myModalLabl"><font>A&ntilde;adir Carrera</font></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    
                </div>
                <!-- A&ntilde;adir-->
                <div class="modal-body">
                    <form class="form-horizontal" action="addcarr.html" id="addAlumno">
                        <div class="form-group">
                            <label class="control-label col-xs-1"><font>Nombre</font></label>
                            <div class="col-xs-11">
                                <input type="text" class="form-control" placeholder="Ingrese Nombre de la Carrera..." name="xnombre">
                            </div>
                            <label class="control-label col-xs-1"><font>Direccion</font></label>
                            <div class="col-xs-11">
                                
                                <input type="text" class="form-control" placeholder="Ingrese Direccion de la Carrera..." name="xdireccion">
                            </div>
                            <label class="control-label col-xs-1"><font>Telefono</font></label>
                            <div class="col-xs-11"> 
                                <input type="text" class="form-control" placeholder="Ingrese Telefono de la Carrera..." name="xtelefono">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="usuAddGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modificar -->
    <div class="modal fade" id="mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><font>Modificar Carrera</font></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="modcarr.html" id="modUsu">
                        <div class="form-group">
                            <div class="col-xs-9">
                                <input type="hidden"  name="m_xidcarr" id="m_xidusu" >
                            </div>
                            <label class="control-label col-xs-7"><font>Nombre</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xnombre" placeholder="Ingrese Nombre Usuario..." name="m_xnombre" value="${nombre}">
                            </div>
                            <label class="control-label col-xs-7"><font>Direccion</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xdireccion" placeholder="Ingrese Direccion Usuario..." name="m_xdireccion" value="${direccion}">
                            </div>
                            <label class="control-label col-xs-7"><font>Telefono</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="m_xtelefono" placeholder="Ingrese Telefono Usuario..."  name="m_xtelefono" value="${telefono}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="usuModGuardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Ver -->
    <div class="modal fade" id="ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><font>Ver Carrera</font></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="modusu.html" id="addAlumno">
                        <div class="form-group">
                            <label class="control-label col-xs-7"><font>Nombre</font></label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="v_xnombre" placeholder="Ingrese Nombre Usuario..." name="m_xnombre" value="${nombre} " disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Direccion</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="v_xdireccion" placeholder="Ingrese Direccion Usuario..." name="m_xdireccion" value="${direccion}" disabled="true">
                            </div>
                            <label class="control-label col-xs-7"><font>Telefono</font></label>
                            <div class="col-xs-9">
                                
                                <input type="text" class="form-control" id="v_xtelefono" placeholder="Ingrese Telefono Usuario..."  name="m_xtelefono" value="${telefono}" disabled="true">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

function modificarAlu(xidcarr,xnombre,xdireccion,xtelefono){
    $('#m_xnombre').val(xnombre);
    $('#m_xtelefono').val(xtelefono);
    $('#m_xdireccion').val(xdireccion);
    $('#mod').modal('show');
}
function verAlu(xidcarr,xnombre,xdireccion,xtelefono){
    $('#v_xnombre').val(xnombre);
    $('#v_xtelefono').val(xtelefono);
    $('#v_xdireccion').val(xdireccion);
    $('#ver').modal('show');
}

    $(document).ready(function () {
    $('#example').DataTable( {
        //"dom": '<"toolbar">frtip',
       // "dom": 'B<"clear">lfrtip',
       // buttons: {
       // name: 'primary',
       // buttons: [ 'copy', 'csv', 'excel' ]
   // },
        
        "dom": 'l<"toolbar">frtip',
        initComplete: function(){
        $("div.toolbar")
         .html('<div class="countainer" style="width: 50px; position: absolute; top: 52px; right: 22%;" ><button class="pull-right" data-toggle="modal" data-target="#add" style="font-size: 10px">A&ntilde;adir</button></div>');           
        },
         stateSave: true,
        "language": {
            "lengthMenu": "Carreras _MENU_ por Pagina",
            "zeroRecords": "Nothing found - sorry",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(Buscado entre _MAX_ total de datos)",
            "search": "Buscar :",
            "paginate": {
            "first":      "Primer",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        }
        }
        } );
     $("#usuAddGuardar").click(function () {
            if (confirm('Seguro de Guardar a la Carrera ?')){
                $("#addAlumno").submit();
                $("#add").modal('hide');
            }   
        });
        $("#usuModGuardar").click(function () {
            if (confirm('Seguro de Guardar a la Carrera ?')){
                $("#modUsu").submit();
                $("#mod").modal('hide');
            }   
        });
        $("#datModGuardar").click(function () {
            if (confirm('Seguro de Realizar este cambio?')){
                $("#modDat").submit();
                $("#moddat").modal('hide');
            }   
        });
        $("#btn-guardar").click(function () {
            alert("Guardar Datos");
        });
        $("#btn-modificar").click(function () {
            alert("Modificar Datos");
        });
                let location_href=(evt)=>{
              if(evt.dataset.href)
                document.location.href=evt.dataset.href
            } 
    });

</script>
<style>
    font{
        color:black;
    }
</style>