<div class="form-group">
    <div class="col-xs-12" id="tablita">	
		<table class="table table-bordered" >
			<tr>
				<td align="center"> NO ASIGNADOS </td>
				<td align="center"> SI ASIGNADOS</td>
			</tr>
    		<tr>
       			<td width="50%">
       			#set($con=0)
		        #foreach($reg in $xlistaNO)
		        	#set($con=$con + 1)
		        	<a  href="javascript:void(0)" onclick="javascript:modificarRol('${xidusu}','${reg.idrol}')">
       					${reg.nombre} <br>
       				</a>			                   				
		        #end	
       			</td>
       			<td width="50%">
       			#set($con=0)
		        #foreach($reg in $xlistaSI)
		        	#set($con=$con + 1)
		        	<a  href="javascript:void(0)" onclick="javascript:eliminaRol('${xidusu}','${reg.idrol}')">
   						${reg.nombre} <br>
   					</a>
		        	
		        #end
   				</td>
    		</tr>
    	</table>
	    <input type="HIDDEN" id="filas"  name="filas" value="${con}"/>    	
	</div>
</div>